---
const { heading = '', subheading = '', align = 'center', id } = Astro.props;
const headerAlign = align === 'left' ? 'text-left max-w-none' : 'text-center mx-auto max-w-2xl';
---

<section id={id} class="pt-16 sm:pt-20">
  <div class="container-page">
    {
      (heading || subheading) && (
        <div class={`${headerAlign}`}>
          {heading && <h2 class="text-3xl font-semibold sm:text-4xl">{heading}</h2>}
          {subheading && <p class="mt-4 text-lg text-muted">{subheading}</p>}
        </div>
      )
    }
    <slot />
  </div>
</section>
